@media all and (max-width: 800px) {

    /* QUI TROVO IMPOSTAZIONI DIMENSIONE SEZIONE NAVBAR + MAIN */
    .navbar {
        width: 8%;
    }
    .content {
        width: 92%;
    }
    .navbar img {
        display: block;
    }
    .responsive1 {
        display: block;
    }
    .responsive2 {
        display: block;
    }

    /* QUI TOLTO TUTTO QUELLO CHE TROVO SU NAVBAR */
    .navigation {
        display: none;
    }
    .botton_nav {
        display: none;
    }

    /* QUI COMINCIANO REGOLE CONTENT */
    .overflow {
        width: 100%;
    }

    .playlist {
        width: 25%;
    }

    /* QUI TROVO REGOLE FOOTER */
    .footer_bar_dx {
        width: 230px;
    }

    .volume {
        width: 100px;
    }

    .footer_bar_sx {
        width: 250px;
    }

    .progressione {
        width: 100px;
    }

}

@media all and (max-height: 200px) and (min-width: 801px) {
    .botton_nav {
        display: none;
    }
    .update {
        display: none;
    }
    
}
    