* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* REGOLE CLEARFIX */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* QUI TROVO IL CONTENITORE PRINCIPALE */
.wrapper {
    height: calc(100vh - 150px);
    background-color: beige;
}

/* COLONNA SX WRAPPER */
.aside {
    position: fixed;
    float: left;
    width: 250px;
    height: 100%;
    background-color: black;
}

/* IMPOSTAZIONI LOGO */
.wrapper .aside>img {
    width: 60%;
    margin: 10px;
}

/* IMPOSTAZIONI BARRA DI NAVIGAZIONE */

.navigation li {
    list-style: none;
    margin: 10px;
}

.navigation li a {
    color: white;
    text-decoration: none;
    color: #868686;
}

/* PLAYLIST */
h4 {
    color: white;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 25px;
}
.add_playlist {
    font-size: 25px;
}

.botton_nav {
    position: fixed;
    bottom: 22%;
}

span a {
    color: #717171;
    text-decoration: none;
    margin-left: 10px ;
    padding-right: 48%;
    padding-bottom: 10px;
    border-bottom: 1px solid #717171;
}






/* COLONNA DX WRAPPER */
.main {
    float: left;
    width: 100%;
    height: 100%;
    background-color: #141922;
}

/* FOOTER */
.navigation_bar {
    position: fixed;
    width: 100%;
    height: 150px;
    background-color: #282828;
}

