* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* REGOLE CLEARFIX */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* QUI TROVO IL CONTENITORE PRINCIPALE */
.wrapper {
    width: 100%;
    height: 100vh;
    background-color: blue;
}

/* IMPOSTAZIONI CONTENITORE NAVBAR + CONTENT */
main {
    height: calc(100vh - 100px);
    overflow: hidden;
}

/* COLONNA SX WRAPPER */
.navbar {
    float: left;
    width: 250px;
    height: 100%;
    background-color: black;
}

.navbar img {
    width: 60%;
    margin: 20px 10px;
}

.navigation {
    margin-bottom: 40px;
}

.navigation li {
    list-style: none;
    margin-left: 10px;
    margin-bottom: 15px;
}

.navigation li a {
    color: white;
    text-decoration: none;
    color: #868686;
}
 
h4 {
    color: white;
    font-size: 20px;
    margin: 10px;
}

.add_playlist {
    font-size: 25px;
}

span a {
    color: #717171;
    text-decoration: none;
    margin: 10px;
    border-bottom: 1px solid grey;
    padding-right: 80px;
    padding-bottom: 5px;  
} 

.botton_nav {
    position: fixed;
    bottom: 110px;
}


/* COLONNA DX WRAPPER */
.content {
    float: left;
    width: calc(100% - 250px);
    height: 100%;
    background-color: #141922;
}









/* FOOTER */
.navigation_bar {
    height: 100px;
    background-color: #282828;
}
























